## OPERATORS

### Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [ ]:
# Arithmetic operations

num1=10
num2=5

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
remainder = num1 % num2

floor_Div_Result = num1//num2       # Floor division, Remove the decimal and gives the lower value. 
exponential_Result = num1**num2     # num1 to the power of num2


print("Sum is : ", sum)
print("Difference is : ", difference)
print("Product is : ", product)
print("Quotient  is : ", quotient)
print("Remainder is : ", remainder)
print("Floor division is : ", floor_Div_Result)
print("Exponential result is : ", exponential_Result)

Sum is :  15
Difference is :  5
Product is :  50
Quotient  is :  2.0
Remainder is :  0
Floor division is :  2
Exponential result is :  100000

## Comparison operators

In [ ]:
# ==    Equal to

a=10
b=10

result=(a==b)
print(result)

False

In [16]:
str1 = "Nishant"
str2 = "nishant"       # case sensitive

str1==str2

False

In [17]:
# !=    Not equal to 

str1 != str2

True

In [19]:
str3 = "Nishant"
str4 = "Nishant"

str3 != str4

False

In [ ]:
# >     greater than 

num1 = 45
num2 = 40

num1 > num2

True

In [ ]:
# <     less than 

num1 = 50
num2 = 40

num1 < num2

False

In [ ]:
# >=    greater than equal to 

num1 = 45
num2 = 45

num1 >= num2

True

In [ ]:
# <=    less than equal to 

num1 = 45
num2 = 45

num1 <= num2

True

## Logical operators

In [27]:
# AND

num1 = True
num2 = True

(num1 and num2)

True

In [28]:
# OR 

num1 = True
num2 = False

(num1 or num2)

True

In [32]:
# NOT 

num1 = True
num2 = False

not num1
not num2

True