#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
# creating a tuple 

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst = list()        # creating an empty list    # we can use list or tuple using class
print(type(lst))

tpl = tuple()       # creating an empty tuple
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = tuple([1,2,3,4,5,6,7,8,9])    # converting list into tuple using tuple class
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
list((1,2,3,4,5))       # converting tuple into list using list class

[1, 2, 3, 4, 5]

In [13]:
# mixed tuple

mixed_tuple = (1,"Nishant",5.3,True)
print(mixed_tuple)

(1, 'Nishant', 5.3, True)

In [14]:
# Accessing tuple elements

numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
numbers[0]

1

In [ ]:
numbers[-1]     # last element

9

In [17]:
numbers[:4]

(1, 2, 3, 4)

In [18]:
numbers[::]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
numbers[::-1]   # reversing a tuple

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
# tuple operation

concat = numbers + mixed_tuple      # concatination of list and tuple
print(concat)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 'Nishant', 5.3, True)

In [ ]:
mixed_tuple * 3         # tuple printing multiple times

(1, 'Nishant', 5.3, True, 1, 'Nishant', 5.3, True, 1, 'Nishant', 5.3, True)

In [25]:
numbers * 3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9)

In [4]:
# immutable nature of tuples
# tuples are immutable
# elements cannot be changed once defined.

lst=[1,2,3,4,5]
print(lst[0])

lst[1] = 7
print(lst)

tpl = (1,2,3,4,5,6)
print(tpl)

# tpl[1] = 0
# print(tpl)

1
[1, 7, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [7]:
numbers = (1,2,3,4,5,6,7,1,3)

In [11]:
# tuple methods

print(numbers.count(1))     # counts the number of particular elements
print(numbers.index(3))     # returns the first index of the value

2
2

In [ ]:
# packing and unpacking tuples

# packing tuple
packed_tuple = 1,"Hello",3.14       # by  default, it packs the elements in a tuple
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
# unpacking a tuple

a,b,c = packed_tuple        # put elements in a variable

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
# unpacking with star(*)

numbers = (1,2,3,4,5,6)

first,*middle,last = numbers        # using star will give you the elements between first and last

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
# nested tuple

# nested list
lst = [[1,2,3,4,5], [6,7,8,9], ["Hello",1234,45.22]]

print(lst)
print(lst[0])
print(lst[0][2])        # 3rd element of 1st list
print(lst[0][:3])       # slicing in list

[[1, 2, 3, 4, 5], [6, 7, 8, 9], ['Hello', 1234, 45.22]]
[1, 2, 3, 4, 5]
3
[1, 2, 3]

In [ ]:
tpl = [(1,2,3,4,5), (6,7,8,9), ("Hello",1234,45.22)]

print(tpl)
print(tpl[0])
print(tpl[0][2])        # 3rd element of 1st tuple
print(tpl[0][:3])       # slicing in tuple

[(1, 2, 3, 4, 5), (6, 7, 8, 9), ('Hello', 1234, 45.22)]
(1, 2, 3, 4, 5)
3
(1, 2, 3)

In [27]:
# iterating over nested tuple 

for sub_tpl in tpl:
    for items in sub_tpl:
        print(items)

1
2
3
4
5
6
7
8
9
Hello
1234
45.22

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.