# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [8]:
tpl = tuple()

for i in range(0,10):
    tpl = (i)
    print(tpl)
print(type(tpl))

0
1
2
3
4
5
6
7
8
9
<class 'int'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [1]:
tpl = (1,2,4,"Nishu",4,1.4)

first, *middle, last = tpl

print(first)
print(middle)
print(last)

1
[2, 4, 'Nishu', 4]
1.4

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [6]:
tpl = (1,2,4,"Nishu",4,1.4,44,"Grewal",2,4,7,4,3,5)

print(tpl[:3])
print(tpl[-3::])
print(tpl[2:6])

(1, 2, 4)
(4, 3, 5)
(4, 'Nishu', 4, 1.4)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [7]:
tpl = ((1,2,3),
       (4,5,6),
       (7,8,9)
       )

print(tpl[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
tpl1= (1,2,3)
tpl2 = (4,5,6)

concat_tuple = tpl1 + tpl2

print(concat_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [11]:
tpl = (1,2,3,1,2,3,1,2,3)

print(tpl.count(1))

3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [13]:
tpl = (1,2,3,4,5)

first, *middle, last = tpl

print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [18]:
lst = tuple([1,2,3,4,5])

print(lst)
type(lst)

(1, 2, 3, 4, 5)

tuple

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [19]:
tpl = ((1,2,3),(4,5,6),(7,8,9))

for tp in tpl:
    for i in tp:
        print(i)

1
2
3
4
5
6
7
8
9

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [28]:
tpl = (1,2,3,4,5)   # creating a tuple

lst = list(tpl)     # converting into list

lst.append(6)       # appending number 6

tpl = tuple(lst)   # converting back to tuple

print(tpl)          # printing the tuple

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [32]:
tpl = ('n','i','s','h','u')

for i in tpl:
    print(i, end = "")

nishu

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [36]:
tpl = ((1,2,3),(4,5,6),(7,8,9))

for tp in tpl:
    for i in tp:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.