#### Loops
Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [1]:
range(5)

range(0, 5)

In [3]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
range(1,10,2)

range(1, 10, 2)

In [7]:
for i in range(1,10,2):     # By default, the third parameter is set to 1, it is a step size
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [12]:
# strings

name = "Nishant"

for i in name:
    print(i)

N
i
s
h
a
n
t

In [3]:
# while loop
# It continues to execute as long as the condition is true 

count = 1

while count<=5:
    print(count)
    count = count+1

1
2
3
4
5

In [4]:
# loop control statements

# break 
# the break statement exits the loop prematurely

# break statement 

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [7]:
# continue 
# it skips the current iteration and skips to the next

for i in range(10):
    if(i %2 == 0):
        continue
    print(i)

1
3
5
7
9

In [8]:
# pass
# it is a null opearation and does nothing

for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [14]:
# nested loops
# a loop inside another loop

for i in range(3):
    for j in range(2):
        print(f"i : {i} and j : {j}")

i : 0 and j : 0
i : 0 and j : 1
i : 1 and j : 0
i : 1 and j : 1
i : 2 and j : 0
i : 2 and j : 1

In [ ]:
# calculate sum of first n natural numbers using a while loop and a for loop

n = int(input("Enter a number : "))

sum = 0

# for i in range(1, n+1):       # using for loop
#     sum = sum + i
# print(sum)

# i = 1                         # using while loop
# while i<=n:
#     sum = sum + i
#     i = i+1
# print(sum)

6

In [30]:
# display prime numbers between 1 and 100

for num in range(1,101):
    if(num>0):
        for i in range (2,num):
            if(num%i==0):
                break
        else:
            print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97